<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
</head>

<body>
  <% if (locals.user) { %>
    <div class="header">
      <h1>Welcome <%= user.first_name %>
      </h1>
      <a href="/log-out">Log Out</a>
    </div>

    <!-- We'll add message display here -->
    <div class="messages">
      <!-- Message list will go here -->
    </div>

  <% } else { %>
    <h1>Welcome to Members Only</h1>
    <p>Please <a href="/log-in">log in</a> or <a href="/sign-up">sign up</a> to continue.</p>
  <% } %>
</body>

</html>