<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Become a Member</title>
</head>

<body>
  <h1>Become a Member</h1>

  <form action="/join-club" method="POST">
    <input id="password" name="password" type="password" placeholder="Enter the secret password" />
    <button>Submit</button>
  </form>

</body>

</html>