<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>New Message</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="new-message">
    <h1>New Message</h1>
    <div class="new-message-form">
      <form action="/posts/new" method="POST">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" />
        <label for="message">Message</label>
        <textarea id="message" name="message" type="textarea"></textarea>
        <button>Submit</button>
      </form>
    </div>
  </div>

</body>

</html>