<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>New Message</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>New Message</h1>

    <form action="/posts/new" method="POST">
      <input id="title" name="title" type="text" placeholder="Title"/>
      <textarea id="message" name="message" type="textarea" placeholder="Message"></textarea>
      <button>Submit</button>
    </form>

</body>

</html>