<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="signup">
    <h1>Sign Up</h1>
  
    <!-- Display validation errors if they exist -->
    <% if (locals.errors) { %>
      <ul class="errors">
        <% errors.forEach(function(error) { %>
          <li>
            <%= error.msg %>
          </li>
          <% }); %>
      </ul>
    <% } %>
  
    <form action="/sign-up" method="POST">
      <div class="form">
        <label for="first_name">First Name</label>
        <input 
          id="first_name" 
          name="first_name" 
          type="text"
          value="<%= locals.user ? user.first_name : '' %>" 
        />
      </div>
  
      <div class="form">
        <label for="last_name">Last Name</label>
        <input 
          id="last_name" 
          name="last_name" 
          type="text"
          value="<%= locals.user ? user.last_name : '' %>" 
        />
      </div>
  
      <div class="form">
        <label for="username">Email</label>
        <input 
          id="username" 
          name="username" 
          type="email"
          value="<%= locals.user ? user.username : '' %>" 
        />
      </div>
  
      <div class="form">
        <label for="password">Password</label>
        <input 
          id="password" 
          name="password" 
          type="password" 
        />
      </div>
  
      <div class="form">
        <label for="confirm_password">Confirm Password</label>
        <input 
          id="confirm_password" 
          name="confirm_password" 
          type="password" 
        />
      </div>
  
      <div>
        <label class="checkbox">
          <input id="is_admin" name="is_admin" type="checkbox" value="true" />
          <div>Admin Account</div>
        </label>
      </div>
  
      <button type="submit">Sign Up</button>
    </form>
  
    <div>
      <p>Already have an account? <a href="/log-in">Log in</a></p>
    </div>
  </div>
</body>

</html>
