<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="first-name">First Name</label>
    <input id="first-name" name="first-name" placeholder="First Name" type="text" />
    <label for="last-name">Last Name</label>
    <input id="last-name" name="last-name" placeholder="Last Name" type="text" />
    <label for="username">Username</label>
    <label for="username">Email</label>
    <input id="username" name="username" placeholder="username" type="email" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <label for="confirm-password">Confirm Password</label>
    <input id="confirrm-password" name="confirm-password" type="password" />
    <button>Sign Up</button>
  </form>
</body>

</html>
