body {
  background-color: #262626;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-size: 1rem;
  max-width: 666px;
  margin: 1rem auto;
}

a {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #525252;
}

.banner {
  margin: 1rem 0;
  background-color: rgb(53, 53, 53);
  padding: 16px;
  border-radius: 4px;
  text-align: center;
}

.messages {
  margin: 2rem 0;
}

.welcome {
  margin: 2rem 0;
  text-align: center  ;
}

.new-message-button,
.delete-button {
  display: flex;
  justify-content: flex-end;
}

.post {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #525252;
  border-radius: 8px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #323232;
}

.author {
  font-weight: bold;
}

.title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.date {
  color: #a7a7a7;
}

button {
  background-color: #323232;
  color: #a7a7a7;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
}

button:hover {
  color: #fff
}

.login-form {
  margin: 2rem 0;
}

form,
.form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  margin-bottom: 16px;
  height: 24px;
  background-color: #262626;
  border-radius: 4px;
  border: 1px solid #525252;
  padding: 8px;
  color: #fff;
}

textarea {
  min-height: 120px;
  line-height: 1.25;
  font-family: Helvetica, Arial, sans-serif;
}

input[type="checkbox"] {
  margin-bottom: 0;
  height: 16px;
  width: 16px;
}

.login,
.signup,
.new-message {
  max-width: 350px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}